<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favico.png') }}" />


<title>{%block title%}Login{%endblock%}</title>

{% block obsah %}

<h1 align="center">Login</h1>

<form method="POST">
<p align="center">
<input class="input" type="text"      name="login"  placeholder="Jméno"/><br/>
<input class="input" type="password"  name="passw"   placeholder="Heslo"/><br/>
<input class="input" type="submit"    value="Přihlásit"/>
</p>
<br/>
  {% for message in get_flashed_messages() %}
    <li align="center" class="flash">{{message}}</p>
  {% endfor %}
</form>
{% endblock obsah %}
